# Node
node_modules/
*.log
logs/

# Build outputs
.dist/
dist/
build/
coverage/
**/.next/
.next/
req-nexa-ai-chatbot-ui-2/.next/

# Env files
.env
.env.local
.env.*.local

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Docker
*.pid

# Misc
.tmp/
.cache/
